<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.afd.order.dao.OrderMapper">
	<resultMap id="BaseResultMap" type="com.afd.model.order.Order">
		<id column="order_id" property="orderId" jdbcType="DECIMAL" />
		<result column="order_code" property="orderCode" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="DECIMAL" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
		<result column="seller_id" property="sellerId" jdbcType="DECIMAL" />
		<result column="order_type" property="orderType" jdbcType="CHAR" />
		<result column="order_status" property="orderStatus" jdbcType="CHAR" />
		<result column="prod_fee" property="prodFee" jdbcType="REAL" />
		<result column="prod_discount_type" property="prodDiscountType"
			jdbcType="CHAR" />
		<result column="prod_discount_fee" property="prodDiscountFee"
			jdbcType="REAL" />
		<result column="deliver_fee" property="deliverFee" jdbcType="REAL" />
		<result column="deliver_discount" property="deliverDiscount"
			jdbcType="REAL" />
		<result column="order_fee" property="orderFee" jdbcType="DECIMAL" />
		<result column="r_name" property="rName" jdbcType="VARCHAR" />
		<result column="r_province" property="rProvince" jdbcType="VARCHAR" />
		<result column="r_city" property="rCity" jdbcType="VARCHAR" />
		<result column="r_county" property="rCounty" jdbcType="VARCHAR" />
		<result column="r_town" property="rTown" jdbcType="VARCHAR" />
		<result column="r_addr" property="rAddr" jdbcType="VARCHAR" />
		<result column="r_mobile" property="rMobile" jdbcType="CHAR" />
		<result column="r_phone" property="rPhone" jdbcType="VARCHAR" />
		<result column="r_email" property="rEmail" jdbcType="VARCHAR" />
		<result column="r_zipcode" property="rZipcode" jdbcType="CHAR" />
		<result column="order_source" property="orderSource" jdbcType="VARCHAR" />
		<result column="pay_type" property="payType" jdbcType="CHAR" />
		<result column="pay_mode" property="payMode" jdbcType="CHAR" />
		<result column="pay_status" property="payStatus" jdbcType="CHAR" />
		<result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
		<result column="logistics_compa" property="logisticsCompa"
			jdbcType="TINYINT" />
		<result column="logistics_name" property="logisticsName"
			jdbcType="VARCHAR" />
		<result column="awb_no" property="awbNo" jdbcType="VARCHAR" />
		<result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
		<result column="signed_status" property="signedStatus"
			jdbcType="CHAR" />
		<result column="signed_type" property="signedType" jdbcType="CHAR" />
		<result column="signed_time" property="signedTime" jdbcType="TIMESTAMP" />
		<result column="Not_signed_cause" property="notSignedCause"
			jdbcType="VARCHAR" />
		<result column="receipt_date" property="receiptDate" jdbcType="TIMESTAMP" />
		<result column="receipt_type" property="receiptType" jdbcType="CHAR" />
		<result column="receipt_mode" property="receiptMode" jdbcType="CHAR" />
		<result column="created_by_name" property="createdByName"
			jdbcType="VARCHAR" />
		<result column="yw_remark" property="ywRemark" jdbcType="VARCHAR" />
		<result column="seller_remark" property="sellerRemark"
			jdbcType="VARCHAR" />
		<result column="user_remark" property="userRemark" jdbcType="VARCHAR" />
		<result column="s_s_a_id" property="sSAId" jdbcType="DECIMAL" />
		<result column="Cancel_date" property="cancelDate" jdbcType="TIMESTAMP" />
		<result column="Cancel_by_name" property="cancelByName"
			jdbcType="VARCHAR" />
		<result column="Cancel_reason" property="cancelReason"
			jdbcType="VARCHAR" />
		<result column="Last_update_date" property="lastUpdateDate"
			jdbcType="TIMESTAMP" />
		<result column="Last_update_by_name" property="lastUpdateByName"
			jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.afd.model.order.Order" id="BaseResultMap2"
		extends="BaseResultMap">
		<collection property="orderItems" ofType="com.afd.model.order.OrderItem">
			<id column="payment_id" property="paymentId" jdbcType="DECIMAL" />
			<result column="origin_payment_id" property="originPaymentId"
				jdbcType="DECIMAL" />
			<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
			<result column="create_id" property="createId" jdbcType="DECIMAL" />
			<result column="user_name" property="userName" jdbcType="VARCHAR" />
			<result column="create_by_ip" property="createByIp" jdbcType="VARCHAR" />
			<result column="pay_amount" property="payAmount" jdbcType="REAL" />
			<result column="pay_gw" property="payGw" jdbcType="CHAR" />
			<result column="status" property="status" jdbcType="CHAR" />
			<result column="type" property="type" jdbcType="CHAR" />
			<result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
			<result column="callback_date" property="callbackDate"
				jdbcType="TIMESTAMP" />
			<result column="real_pay_gw" property="realPayGw" jdbcType="CHAR" />
			<result column="real_pay_date" property="realPayDate"
				jdbcType="TIMESTAMP" />
			<result column="payment_type" property="paymentType" jdbcType="CHAR" />
		</collection>
	</resultMap>
	<sql id="Base_Column_List">
		order_id, order_code, user_id, user_name, created_date, seller_id, order_type,
		order_status,
		prod_fee, prod_discount_type, prod_discount_fee, deliver_fee, deliver_discount,
		order_fee,
		r_name, r_province, r_city, r_county, r_town, r_addr, r_mobile, r_phone,
		r_email,
		r_zipcode, order_source, pay_type, pay_mode, pay_status, pay_date,
		logistics_compa,
		logistics_name, awb_no, send_time, signed_status, signed_type, signed_time,
		Not_signed_cause,
		receipt_date, receipt_type, receipt_mode, created_by_name, yw_remark,
		seller_remark,
		user_remark, s_s_a_id, Cancel_date, Cancel_by_name, Cancel_reason,
		Last_update_date,
		Last_update_by_name
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_order
		where order_id = #{orderId,jdbcType=DECIMAL}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_order
		where order_id = #{orderId,jdbcType=DECIMAL}
	</delete>
	<insert id="insert" parameterType="com.afd.model.order.Order">
		insert into t_order (order_id, order_code, user_id,
		user_name, created_date, seller_id,
		order_type, order_status, prod_fee,
		prod_discount_type, prod_discount_fee, deliver_fee,
		deliver_discount, order_fee, r_name,
		r_province, r_city, r_county,
		r_town, r_addr, r_mobile,
		r_phone, r_email, r_zipcode,
		order_source, pay_type, pay_mode,
		pay_status, pay_date, logistics_compa,
		logistics_name, awb_no, send_time,
		signed_status, signed_type, signed_time,
		Not_signed_cause, receipt_date, receipt_type,
		receipt_mode, created_by_name, yw_remark,
		seller_remark, user_remark, s_s_a_id,
		Cancel_date, Cancel_by_name, Cancel_reason,
		Last_update_date, Last_update_by_name)
		values (#{orderId,jdbcType=DECIMAL}, #{orderCode,jdbcType=VARCHAR},
		#{userId,jdbcType=DECIMAL},
		#{userName,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{sellerId,jdbcType=DECIMAL},
		#{orderType,jdbcType=CHAR}, #{orderStatus,jdbcType=CHAR},
		#{prodFee,jdbcType=REAL},
		#{prodDiscountType,jdbcType=CHAR}, #{prodDiscountFee,jdbcType=REAL}, #{deliverFee,jdbcType=REAL},
		#{deliverDiscount,jdbcType=REAL}, #{orderFee,jdbcType=DECIMAL},
		#{rName,jdbcType=VARCHAR},
		#{rProvince,jdbcType=VARCHAR}, #{rCity,jdbcType=VARCHAR}, #{rCounty,jdbcType=VARCHAR},
		#{rTown,jdbcType=VARCHAR}, #{rAddr,jdbcType=VARCHAR},
		#{rMobile,jdbcType=CHAR},
		#{rPhone,jdbcType=VARCHAR}, #{rEmail,jdbcType=VARCHAR}, #{rZipcode,jdbcType=CHAR},
		#{orderSource,jdbcType=VARCHAR}, #{payType,jdbcType=CHAR},
		#{payMode,jdbcType=CHAR},
		#{payStatus,jdbcType=CHAR}, #{payDate,jdbcType=TIMESTAMP}, #{logisticsCompa,jdbcType=TINYINT},
		#{logisticsName,jdbcType=VARCHAR}, #{awbNo,jdbcType=VARCHAR},
		#{sendTime,jdbcType=TIMESTAMP},
		#{signedStatus,jdbcType=CHAR}, #{signedType,jdbcType=CHAR}, #{signedTime,jdbcType=TIMESTAMP},
		#{notSignedCause,jdbcType=VARCHAR}, #{receiptDate,jdbcType=TIMESTAMP},
		#{receiptType,jdbcType=CHAR},
		#{receiptMode,jdbcType=CHAR}, #{createdByName,jdbcType=VARCHAR}, #{ywRemark,jdbcType=VARCHAR},
		#{sellerRemark,jdbcType=VARCHAR}, #{userRemark,jdbcType=VARCHAR},
		#{sSAId,jdbcType=DECIMAL},
		#{cancelDate,jdbcType=TIMESTAMP}, #{cancelByName,jdbcType=VARCHAR}, #{cancelReason,jdbcType=VARCHAR},
		#{lastUpdateDate,jdbcType=TIMESTAMP},
		#{lastUpdateByName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.afd.model.order.Order">
		insert into t_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderId != null">
				order_id,
			</if>
			<if test="orderCode != null">
				order_code,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="createdDate != null">
				created_date,
			</if>
			<if test="sellerId != null">
				seller_id,
			</if>
			<if test="orderType != null">
				order_type,
			</if>
			<if test="orderStatus != null">
				order_status,
			</if>
			<if test="prodFee != null">
				prod_fee,
			</if>
			<if test="prodDiscountType != null">
				prod_discount_type,
			</if>
			<if test="prodDiscountFee != null">
				prod_discount_fee,
			</if>
			<if test="deliverFee != null">
				deliver_fee,
			</if>
			<if test="deliverDiscount != null">
				deliver_discount,
			</if>
			<if test="orderFee != null">
				order_fee,
			</if>
			<if test="rName != null">
				r_name,
			</if>
			<if test="rProvince != null">
				r_province,
			</if>
			<if test="rCity != null">
				r_city,
			</if>
			<if test="rCounty != null">
				r_county,
			</if>
			<if test="rTown != null">
				r_town,
			</if>
			<if test="rAddr != null">
				r_addr,
			</if>
			<if test="rMobile != null">
				r_mobile,
			</if>
			<if test="rPhone != null">
				r_phone,
			</if>
			<if test="rEmail != null">
				r_email,
			</if>
			<if test="rZipcode != null">
				r_zipcode,
			</if>
			<if test="orderSource != null">
				order_source,
			</if>
			<if test="payType != null">
				pay_type,
			</if>
			<if test="payMode != null">
				pay_mode,
			</if>
			<if test="payStatus != null">
				pay_status,
			</if>
			<if test="payDate != null">
				pay_date,
			</if>
			<if test="logisticsCompa != null">
				logistics_compa,
			</if>
			<if test="logisticsName != null">
				logistics_name,
			</if>
			<if test="awbNo != null">
				awb_no,
			</if>
			<if test="sendTime != null">
				send_time,
			</if>
			<if test="signedStatus != null">
				signed_status,
			</if>
			<if test="signedType != null">
				signed_type,
			</if>
			<if test="signedTime != null">
				signed_time,
			</if>
			<if test="notSignedCause != null">
				Not_signed_cause,
			</if>
			<if test="receiptDate != null">
				receipt_date,
			</if>
			<if test="receiptType != null">
				receipt_type,
			</if>
			<if test="receiptMode != null">
				receipt_mode,
			</if>
			<if test="createdByName != null">
				created_by_name,
			</if>
			<if test="ywRemark != null">
				yw_remark,
			</if>
			<if test="sellerRemark != null">
				seller_remark,
			</if>
			<if test="userRemark != null">
				user_remark,
			</if>
			<if test="sSAId != null">
				s_s_a_id,
			</if>
			<if test="cancelDate != null">
				Cancel_date,
			</if>
			<if test="cancelByName != null">
				Cancel_by_name,
			</if>
			<if test="cancelReason != null">
				Cancel_reason,
			</if>
			<if test="lastUpdateDate != null">
				Last_update_date,
			</if>
			<if test="lastUpdateByName != null">
				Last_update_by_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderId != null">
				#{orderId,jdbcType=DECIMAL},
			</if>
			<if test="orderCode != null">
				#{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=DECIMAL},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				#{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="sellerId != null">
				#{sellerId,jdbcType=DECIMAL},
			</if>
			<if test="orderType != null">
				#{orderType,jdbcType=CHAR},
			</if>
			<if test="orderStatus != null">
				#{orderStatus,jdbcType=CHAR},
			</if>
			<if test="prodFee != null">
				#{prodFee,jdbcType=REAL},
			</if>
			<if test="prodDiscountType != null">
				#{prodDiscountType,jdbcType=CHAR},
			</if>
			<if test="prodDiscountFee != null">
				#{prodDiscountFee,jdbcType=REAL},
			</if>
			<if test="deliverFee != null">
				#{deliverFee,jdbcType=REAL},
			</if>
			<if test="deliverDiscount != null">
				#{deliverDiscount,jdbcType=REAL},
			</if>
			<if test="orderFee != null">
				#{orderFee,jdbcType=DECIMAL},
			</if>
			<if test="rName != null">
				#{rName,jdbcType=VARCHAR},
			</if>
			<if test="rProvince != null">
				#{rProvince,jdbcType=VARCHAR},
			</if>
			<if test="rCity != null">
				#{rCity,jdbcType=VARCHAR},
			</if>
			<if test="rCounty != null">
				#{rCounty,jdbcType=VARCHAR},
			</if>
			<if test="rTown != null">
				#{rTown,jdbcType=VARCHAR},
			</if>
			<if test="rAddr != null">
				#{rAddr,jdbcType=VARCHAR},
			</if>
			<if test="rMobile != null">
				#{rMobile,jdbcType=CHAR},
			</if>
			<if test="rPhone != null">
				#{rPhone,jdbcType=VARCHAR},
			</if>
			<if test="rEmail != null">
				#{rEmail,jdbcType=VARCHAR},
			</if>
			<if test="rZipcode != null">
				#{rZipcode,jdbcType=CHAR},
			</if>
			<if test="orderSource != null">
				#{orderSource,jdbcType=VARCHAR},
			</if>
			<if test="payType != null">
				#{payType,jdbcType=CHAR},
			</if>
			<if test="payMode != null">
				#{payMode,jdbcType=CHAR},
			</if>
			<if test="payStatus != null">
				#{payStatus,jdbcType=CHAR},
			</if>
			<if test="payDate != null">
				#{payDate,jdbcType=TIMESTAMP},
			</if>
			<if test="logisticsCompa != null">
				#{logisticsCompa,jdbcType=TINYINT},
			</if>
			<if test="logisticsName != null">
				#{logisticsName,jdbcType=VARCHAR},
			</if>
			<if test="awbNo != null">
				#{awbNo,jdbcType=VARCHAR},
			</if>
			<if test="sendTime != null">
				#{sendTime,jdbcType=TIMESTAMP},
			</if>
			<if test="signedStatus != null">
				#{signedStatus,jdbcType=CHAR},
			</if>
			<if test="signedType != null">
				#{signedType,jdbcType=CHAR},
			</if>
			<if test="signedTime != null">
				#{signedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="notSignedCause != null">
				#{notSignedCause,jdbcType=VARCHAR},
			</if>
			<if test="receiptDate != null">
				#{receiptDate,jdbcType=TIMESTAMP},
			</if>
			<if test="receiptType != null">
				#{receiptType,jdbcType=CHAR},
			</if>
			<if test="receiptMode != null">
				#{receiptMode,jdbcType=CHAR},
			</if>
			<if test="createdByName != null">
				#{createdByName,jdbcType=VARCHAR},
			</if>
			<if test="ywRemark != null">
				#{ywRemark,jdbcType=VARCHAR},
			</if>
			<if test="sellerRemark != null">
				#{sellerRemark,jdbcType=VARCHAR},
			</if>
			<if test="userRemark != null">
				#{userRemark,jdbcType=VARCHAR},
			</if>
			<if test="sSAId != null">
				#{sSAId,jdbcType=DECIMAL},
			</if>
			<if test="cancelDate != null">
				#{cancelDate,jdbcType=TIMESTAMP},
			</if>
			<if test="cancelByName != null">
				#{cancelByName,jdbcType=VARCHAR},
			</if>
			<if test="cancelReason != null">
				#{cancelReason,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateByName != null">
				#{lastUpdateByName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.afd.model.order.Order">
		update t_order
		<set>
			<if test="orderCode != null">
				order_code = #{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=DECIMAL},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				created_date = #{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="sellerId != null">
				seller_id = #{sellerId,jdbcType=DECIMAL},
			</if>
			<if test="orderType != null">
				order_type = #{orderType,jdbcType=CHAR},
			</if>
			<if test="orderStatus != null">
				order_status = #{orderStatus,jdbcType=CHAR},
			</if>
			<if test="prodFee != null">
				prod_fee = #{prodFee,jdbcType=REAL},
			</if>
			<if test="prodDiscountType != null">
				prod_discount_type = #{prodDiscountType,jdbcType=CHAR},
			</if>
			<if test="prodDiscountFee != null">
				prod_discount_fee = #{prodDiscountFee,jdbcType=REAL},
			</if>
			<if test="deliverFee != null">
				deliver_fee = #{deliverFee,jdbcType=REAL},
			</if>
			<if test="deliverDiscount != null">
				deliver_discount = #{deliverDiscount,jdbcType=REAL},
			</if>
			<if test="orderFee != null">
				order_fee = #{orderFee,jdbcType=DECIMAL},
			</if>
			<if test="rName != null">
				r_name = #{rName,jdbcType=VARCHAR},
			</if>
			<if test="rProvince != null">
				r_province = #{rProvince,jdbcType=VARCHAR},
			</if>
			<if test="rCity != null">
				r_city = #{rCity,jdbcType=VARCHAR},
			</if>
			<if test="rCounty != null">
				r_county = #{rCounty,jdbcType=VARCHAR},
			</if>
			<if test="rTown != null">
				r_town = #{rTown,jdbcType=VARCHAR},
			</if>
			<if test="rAddr != null">
				r_addr = #{rAddr,jdbcType=VARCHAR},
			</if>
			<if test="rMobile != null">
				r_mobile = #{rMobile,jdbcType=CHAR},
			</if>
			<if test="rPhone != null">
				r_phone = #{rPhone,jdbcType=VARCHAR},
			</if>
			<if test="rEmail != null">
				r_email = #{rEmail,jdbcType=VARCHAR},
			</if>
			<if test="rZipcode != null">
				r_zipcode = #{rZipcode,jdbcType=CHAR},
			</if>
			<if test="orderSource != null">
				order_source = #{orderSource,jdbcType=VARCHAR},
			</if>
			<if test="payType != null">
				pay_type = #{payType,jdbcType=CHAR},
			</if>
			<if test="payMode != null">
				pay_mode = #{payMode,jdbcType=CHAR},
			</if>
			<if test="payStatus != null">
				pay_status = #{payStatus,jdbcType=CHAR},
			</if>
			<if test="payDate != null">
				pay_date = #{payDate,jdbcType=TIMESTAMP},
			</if>
			<if test="logisticsCompa != null">
				logistics_compa = #{logisticsCompa,jdbcType=TINYINT},
			</if>
			<if test="logisticsName != null">
				logistics_name = #{logisticsName,jdbcType=VARCHAR},
			</if>
			<if test="awbNo != null">
				awb_no = #{awbNo,jdbcType=VARCHAR},
			</if>
			<if test="sendTime != null">
				send_time = #{sendTime,jdbcType=TIMESTAMP},
			</if>
			<if test="signedStatus != null">
				signed_status = #{signedStatus,jdbcType=CHAR},
			</if>
			<if test="signedType != null">
				signed_type = #{signedType,jdbcType=CHAR},
			</if>
			<if test="signedTime != null">
				signed_time = #{signedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="notSignedCause != null">
				Not_signed_cause = #{notSignedCause,jdbcType=VARCHAR},
			</if>
			<if test="receiptDate != null">
				receipt_date = #{receiptDate,jdbcType=TIMESTAMP},
			</if>
			<if test="receiptType != null">
				receipt_type = #{receiptType,jdbcType=CHAR},
			</if>
			<if test="receiptMode != null">
				receipt_mode = #{receiptMode,jdbcType=CHAR},
			</if>
			<if test="createdByName != null">
				created_by_name = #{createdByName,jdbcType=VARCHAR},
			</if>
			<if test="ywRemark != null">
				yw_remark = #{ywRemark,jdbcType=VARCHAR},
			</if>
			<if test="sellerRemark != null">
				seller_remark = #{sellerRemark,jdbcType=VARCHAR},
			</if>
			<if test="userRemark != null">
				user_remark = #{userRemark,jdbcType=VARCHAR},
			</if>
			<if test="sSAId != null">
				s_s_a_id = #{sSAId,jdbcType=DECIMAL},
			</if>
			<if test="cancelDate != null">
				Cancel_date = #{cancelDate,jdbcType=TIMESTAMP},
			</if>
			<if test="cancelByName != null">
				Cancel_by_name = #{cancelByName,jdbcType=VARCHAR},
			</if>
			<if test="cancelReason != null">
				Cancel_reason = #{cancelReason,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				Last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateByName != null">
				Last_update_by_name = #{lastUpdateByName,jdbcType=VARCHAR},
			</if>
		</set>
		where order_id = #{orderId,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.afd.model.order.Order">
		update t_order
		set order_code = #{orderCode,jdbcType=VARCHAR},
		user_id = #{userId,jdbcType=DECIMAL},
		user_name = #{userName,jdbcType=VARCHAR},
		created_date = #{createdDate,jdbcType=TIMESTAMP},
		seller_id = #{sellerId,jdbcType=DECIMAL},
		order_type = #{orderType,jdbcType=CHAR},
		order_status = #{orderStatus,jdbcType=CHAR},
		prod_fee = #{prodFee,jdbcType=REAL},
		prod_discount_type = #{prodDiscountType,jdbcType=CHAR},
		prod_discount_fee = #{prodDiscountFee,jdbcType=REAL},
		deliver_fee = #{deliverFee,jdbcType=REAL},
		deliver_discount = #{deliverDiscount,jdbcType=REAL},
		order_fee = #{orderFee,jdbcType=DECIMAL},
		r_name = #{rName,jdbcType=VARCHAR},
		r_province = #{rProvince,jdbcType=VARCHAR},
		r_city = #{rCity,jdbcType=VARCHAR},
		r_county = #{rCounty,jdbcType=VARCHAR},
		r_town = #{rTown,jdbcType=VARCHAR},
		r_addr = #{rAddr,jdbcType=VARCHAR},
		r_mobile = #{rMobile,jdbcType=CHAR},
		r_phone = #{rPhone,jdbcType=VARCHAR},
		r_email = #{rEmail,jdbcType=VARCHAR},
		r_zipcode = #{rZipcode,jdbcType=CHAR},
		order_source = #{orderSource,jdbcType=VARCHAR},
		pay_type = #{payType,jdbcType=CHAR},
		pay_mode = #{payMode,jdbcType=CHAR},
		pay_status = #{payStatus,jdbcType=CHAR},
		pay_date = #{payDate,jdbcType=TIMESTAMP},
		logistics_compa = #{logisticsCompa,jdbcType=TINYINT},
		logistics_name = #{logisticsName,jdbcType=VARCHAR},
		awb_no = #{awbNo,jdbcType=VARCHAR},
		send_time = #{sendTime,jdbcType=TIMESTAMP},
		signed_status = #{signedStatus,jdbcType=CHAR},
		signed_type = #{signedType,jdbcType=CHAR},
		signed_time = #{signedTime,jdbcType=TIMESTAMP},
		Not_signed_cause = #{notSignedCause,jdbcType=VARCHAR},
		receipt_date = #{receiptDate,jdbcType=TIMESTAMP},
		receipt_type = #{receiptType,jdbcType=CHAR},
		receipt_mode = #{receiptMode,jdbcType=CHAR},
		created_by_name = #{createdByName,jdbcType=VARCHAR},
		yw_remark = #{ywRemark,jdbcType=VARCHAR},
		seller_remark = #{sellerRemark,jdbcType=VARCHAR},
		user_remark = #{userRemark,jdbcType=VARCHAR},
		s_s_a_id = #{sSAId,jdbcType=DECIMAL},
		Cancel_date = #{cancelDate,jdbcType=TIMESTAMP},
		Cancel_by_name = #{cancelByName,jdbcType=VARCHAR},
		Cancel_reason = #{cancelReason,jdbcType=VARCHAR},
		Last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
		Last_update_by_name = #{lastUpdateByName,jdbcType=VARCHAR}
		where order_id = #{orderId,jdbcType=DECIMAL}
	</update>

	<select id="getOrdersByIdsAndUserId" resultMap="BaseResultMap2">
		select * from t_order t,t_order_item t1 where t.order_id = t1.order_id
		and t.order_id in
		<foreach collection="orderIds" item="orderId" open="("
			separator="," close=")">
			#{orderId}
		</foreach>
		and t.user_id = #{userId,jdbcType=DECIMAL}
	</select>
	<select id="getOrdersByUserId" resultMap="BaseResultMap2">
		select * from t_order t,t_order_item t1 where t.order_id = t1.order_id
		and t.user_id = #{userId,jdbcType=DECIMAL}
	</select>

</mapper>