<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.afd.order.dao.PaymentMapper">
  <resultMap id="BaseResultMap" type="com.afd.model.order.Payment">
    <id column="PAYMENT_ID" jdbcType="DECIMAL" property="paymentId" />
    <result column="ORIGIN_PAYMENT_ID" jdbcType="DECIMAL" property="originPaymentId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="CREATE_BY_IP" jdbcType="VARCHAR" property="createByIp" />
    <result column="PAY_AMOUNT" jdbcType="DECIMAL" property="payAmount" />
    <result column="PAY_GW" jdbcType="CHAR" property="payGw" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="TRADE_NO" jdbcType="VARCHAR" property="tradeNo" />
    <result column="CALLBACK_DATE" jdbcType="TIMESTAMP" property="callbackDate" />
    <result column="REAL_PAY_GW" jdbcType="CHAR" property="realPayGw" />
    <result column="REAL_PAY_DATE" jdbcType="TIMESTAMP" property="realPayDate" />
    <result column="PAYMENT_TYPE" jdbcType="CHAR" property="paymentType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Aug 13 17:39:22 CST 2014.
    -->
    PAYMENT_ID, ORIGIN_PAYMENT_ID, CREATE_DATE, USER_ID, USER_NAME, CREATE_BY_IP, PAY_AMOUNT, 
    PAY_GW, STATUS, TYPE, TRADE_NO, CALLBACK_DATE, REAL_PAY_GW, REAL_PAY_DATE, PAYMENT_TYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Aug 13 17:39:22 CST 2014.
    -->
    select 
    <include refid="Base_Column_List" />
    from T_PAYMENT
    where PAYMENT_ID = #{paymentId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Aug 13 17:39:22 CST 2014.
    -->
    delete from T_PAYMENT
    where PAYMENT_ID = #{paymentId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="paymentId" parameterType="com.afd.model.order.Payment">
    insert into T_PAYMENT (ORIGIN_PAYMENT_ID, CREATE_DATE, 
      USER_ID, USER_NAME, CREATE_BY_IP, 
      PAY_AMOUNT, PAY_GW, STATUS, 
      TYPE, TRADE_NO, CALLBACK_DATE, 
      REAL_PAY_GW, REAL_PAY_DATE, PAYMENT_TYPE
      )
    values (#{originPaymentId,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{createByIp,jdbcType=VARCHAR}, 
      #{payAmount,jdbcType=DECIMAL}, #{payGw,jdbcType=CHAR}, #{status,jdbcType=CHAR}, 
      #{type,jdbcType=CHAR}, #{tradeNo,jdbcType=VARCHAR}, #{callbackDate,jdbcType=TIMESTAMP}, 
      #{realPayGw,jdbcType=CHAR}, #{realPayDate,jdbcType=TIMESTAMP}, #{paymentType,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="paymentId" parameterType="com.afd.model.order.Payment">
    insert into T_PAYMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="originPaymentId != null">
        ORIGIN_PAYMENT_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="createByIp != null">
        CREATE_BY_IP,
      </if>
      <if test="payAmount != null">
        PAY_AMOUNT,
      </if>
      <if test="payGw != null">
        PAY_GW,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="tradeNo != null">
        TRADE_NO,
      </if>
      <if test="callbackDate != null">
        CALLBACK_DATE,
      </if>
      <if test="realPayGw != null">
        REAL_PAY_GW,
      </if>
      <if test="realPayDate != null">
        REAL_PAY_DATE,
      </if>
      <if test="paymentType != null">
        PAYMENT_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="originPaymentId != null">
        #{originPaymentId,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createByIp != null">
        #{createByIp,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="payGw != null">
        #{payGw,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="callbackDate != null">
        #{callbackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="realPayGw != null">
        #{realPayGw,jdbcType=CHAR},
      </if>
      <if test="realPayDate != null">
        #{realPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentType != null">
        #{paymentType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.afd.model.order.Payment">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Aug 13 17:39:22 CST 2014.
    -->
    update T_PAYMENT
    <set>
      <if test="originPaymentId != null">
        ORIGIN_PAYMENT_ID = #{originPaymentId,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createByIp != null">
        CREATE_BY_IP = #{createByIp,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null">
        PAY_AMOUNT = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="payGw != null">
        PAY_GW = #{payGw,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="tradeNo != null">
        TRADE_NO = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="callbackDate != null">
        CALLBACK_DATE = #{callbackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="realPayGw != null">
        REAL_PAY_GW = #{realPayGw,jdbcType=CHAR},
      </if>
      <if test="realPayDate != null">
        REAL_PAY_DATE = #{realPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentType != null">
        PAYMENT_TYPE = #{paymentType,jdbcType=CHAR},
      </if>
    </set>
    where PAYMENT_ID = #{paymentId,jdbcType=DECIMAL}
  </update>
  
    <update id="updateByPrimaryKeyPaying" parameterType="com.afd.model.order.Payment">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Aug 13 17:39:22 CST 2014.
    -->
    update T_PAYMENT
    <set>
      <if test="originPaymentId != null">
        ORIGIN_PAYMENT_ID = #{originPaymentId,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createByIp != null">
        CREATE_BY_IP = #{createByIp,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null">
        PAY_AMOUNT = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="payGw != null">
        PAY_GW = #{payGw,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="tradeNo != null">
        TRADE_NO = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="callbackDate != null">
        CALLBACK_DATE = #{callbackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="realPayGw != null">
        REAL_PAY_GW = #{realPayGw,jdbcType=CHAR},
      </if>
      <if test="realPayDate != null">
        REAL_PAY_DATE = #{realPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentType != null">
        PAYMENT_TYPE = #{paymentType,jdbcType=CHAR},
      </if>
    </set>
    where PAYMENT_ID = #{paymentId,jdbcType=DECIMAL} and STATUS != 2
  </update>
  <update id="updateByPrimaryKey" parameterType="com.afd.model.order.Payment">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Aug 13 17:39:22 CST 2014.
    -->
    update T_PAYMENT
    set ORIGIN_PAYMENT_ID = #{originPaymentId,jdbcType=DECIMAL},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      USER_ID = #{userId,jdbcType=DECIMAL},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      CREATE_BY_IP = #{createByIp,jdbcType=VARCHAR},
      PAY_AMOUNT = #{payAmount,jdbcType=DECIMAL},
      PAY_GW = #{payGw,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR},
      TYPE = #{type,jdbcType=CHAR},
      TRADE_NO = #{tradeNo,jdbcType=VARCHAR},
      CALLBACK_DATE = #{callbackDate,jdbcType=TIMESTAMP},
      REAL_PAY_GW = #{realPayGw,jdbcType=CHAR},
      REAL_PAY_DATE = #{realPayDate,jdbcType=TIMESTAMP},
      PAYMENT_TYPE = #{paymentType,jdbcType=CHAR}
    where PAYMENT_ID = #{paymentId,jdbcType=DECIMAL}
  </update>
  <select id="getPaymentExpired" resultMap="BaseResultMap">
		select
		  *
		from
          T_PAYMENT t
		where
		 <![CDATA[ t.create_date <=(sysdate-#{days}) and t.create_date >(sysdate-#{days}*2) and t.status=1]]>        
</select>
</mapper>