<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.afd.order.dao.ReturnOrderMapper" >
  <resultMap id="BaseResultMap" type="com.afd.model.order.ReturnOrder" >
    <id column="ret_order_id" property="retOrderId" jdbcType="INTEGER" />
    <result column="ret_order_code" property="retOrderCode" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="seller_id" property="sellerId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="return_type" property="returnType" jdbcType="CHAR" />
    <result column="return_reason" property="returnReason" jdbcType="VARCHAR" />
    <result column="evidence_pic_url" property="evidencePicUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_ip" property="createIp" jdbcType="VARCHAR" />
    <result column="logistics_code" property="logisticsCode" jdbcType="VARCHAR" />
    <result column="logistics_comp_id" property="logisticsCompId" jdbcType="TINYINT" />
    <result column="logistics_comp_name" property="logisticsCompName" jdbcType="VARCHAR" />
    <result column="audit_dit" property="auditDit" jdbcType="TIMESTAMP" />
    <result column="audit_by_name" property="auditByName" jdbcType="VARCHAR" />
    <result column="reject_reason" property="rejectReason" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ret_order_id, ret_order_code, order_id, seller_id, user_id, return_type, return_reason, 
    evidence_pic_url, status, create_date, create_ip, logistics_code, logistics_comp_id, 
    logistics_comp_name, audit_dit, audit_by_name, reject_reason, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_return_order
    where ret_order_id = #{retOrderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_return_order
    where ret_order_id = #{retOrderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.afd.model.order.ReturnOrder" >
    insert into t_return_order (ret_order_id, ret_order_code, order_id, 
      seller_id, user_id, return_type, 
      return_reason, evidence_pic_url, status, 
      create_date, create_ip, logistics_code, 
      logistics_comp_id, logistics_comp_name, audit_dit, 
      audit_by_name, reject_reason, remarks
      )
    values (#{retOrderId,jdbcType=INTEGER}, #{retOrderCode,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, 
      #{sellerId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{returnType,jdbcType=CHAR}, 
      #{returnReason,jdbcType=VARCHAR}, #{evidencePicUrl,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createIp,jdbcType=VARCHAR}, #{logisticsCode,jdbcType=VARCHAR}, 
      #{logisticsCompId,jdbcType=TINYINT}, #{logisticsCompName,jdbcType=VARCHAR}, #{auditDit,jdbcType=TIMESTAMP}, 
      #{auditByName,jdbcType=VARCHAR}, #{rejectReason,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.afd.model.order.ReturnOrder" >
    insert into t_return_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="retOrderId != null" >
        ret_order_id,
      </if>
      <if test="retOrderCode != null" >
        ret_order_code,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="returnType != null" >
        return_type,
      </if>
      <if test="returnReason != null" >
        return_reason,
      </if>
      <if test="evidencePicUrl != null" >
        evidence_pic_url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createIp != null" >
        create_ip,
      </if>
      <if test="logisticsCode != null" >
        logistics_code,
      </if>
      <if test="logisticsCompId != null" >
        logistics_comp_id,
      </if>
      <if test="logisticsCompName != null" >
        logistics_comp_name,
      </if>
      <if test="auditDit != null" >
        audit_dit,
      </if>
      <if test="auditByName != null" >
        audit_by_name,
      </if>
      <if test="rejectReason != null" >
        reject_reason,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="retOrderId != null" >
        #{retOrderId,jdbcType=INTEGER},
      </if>
      <if test="retOrderCode != null" >
        #{retOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="returnType != null" >
        #{returnType,jdbcType=CHAR},
      </if>
      <if test="returnReason != null" >
        #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="evidencePicUrl != null" >
        #{evidencePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createIp != null" >
        #{createIp,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCode != null" >
        #{logisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompId != null" >
        #{logisticsCompId,jdbcType=TINYINT},
      </if>
      <if test="logisticsCompName != null" >
        #{logisticsCompName,jdbcType=VARCHAR},
      </if>
      <if test="auditDit != null" >
        #{auditDit,jdbcType=TIMESTAMP},
      </if>
      <if test="auditByName != null" >
        #{auditByName,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null" >
        #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.afd.model.order.ReturnOrder" >
    update t_return_order
    <set >
      <if test="retOrderCode != null" >
        ret_order_code = #{retOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="returnType != null" >
        return_type = #{returnType,jdbcType=CHAR},
      </if>
      <if test="returnReason != null" >
        return_reason = #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="evidencePicUrl != null" >
        evidence_pic_url = #{evidencePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createIp != null" >
        create_ip = #{createIp,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCode != null" >
        logistics_code = #{logisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompId != null" >
        logistics_comp_id = #{logisticsCompId,jdbcType=TINYINT},
      </if>
      <if test="logisticsCompName != null" >
        logistics_comp_name = #{logisticsCompName,jdbcType=VARCHAR},
      </if>
      <if test="auditDit != null" >
        audit_dit = #{auditDit,jdbcType=TIMESTAMP},
      </if>
      <if test="auditByName != null" >
        audit_by_name = #{auditByName,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null" >
        reject_reason = #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where ret_order_id = #{retOrderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.afd.model.order.ReturnOrder" >
    update t_return_order
    set ret_order_code = #{retOrderCode,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      seller_id = #{sellerId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      return_type = #{returnType,jdbcType=CHAR},
      return_reason = #{returnReason,jdbcType=VARCHAR},
      evidence_pic_url = #{evidencePicUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_ip = #{createIp,jdbcType=VARCHAR},
      logistics_code = #{logisticsCode,jdbcType=VARCHAR},
      logistics_comp_id = #{logisticsCompId,jdbcType=TINYINT},
      logistics_comp_name = #{logisticsCompName,jdbcType=VARCHAR},
      audit_dit = #{auditDit,jdbcType=TIMESTAMP},
      audit_by_name = #{auditByName,jdbcType=VARCHAR},
      reject_reason = #{rejectReason,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where ret_order_id = #{retOrderId,jdbcType=INTEGER}
  </update>
</mapper>